:root{
  --primary-color:#ff7920;
  --primary-color-light:#FFEEE3;
  --gray-color:#F7F7F7;
  --black-color:#333333;
  --table-accent-color:#FDF8DF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: #333333;
  font-size: 1em;
}

.fs-10 {
  font-size: 10px;
}

.fs-18{
  font-size: 1.125rem;
}

.fs-20{
  font-size: 1.25rem;
}

.fs-30{
  font-size: 1.875rem;
}

.fs-40{
  font-size: 2.5rem;
}

.bg-gray{
  background-color: var(--gray-color);
}

a{
  color: var(--black-color) !important;
}

a.active{
  background-color: var(--primary-color);
  font-weight: bold;
  border-radius: 8px;
}

.login-img-container{
  width: 100%;
  height: 100vh;
}
.login-img{
  width: 100%; 
}

.icon-circle{
  display: inline-block !important;
  width: 30px;
  height: 30px;
  background-color: var(--primary-color);
}

.bg-primary{
  background-color: var(--primary-color) !important;
  color: #fff;
}

.bg-primary-light{
  background-color: var(--primary-color-light) !important;
}

.btn-primary-light{
  background-color: var(--primary-color-light) !important;
  border-color: var(--primary-color) !important;
}

.btn-primary-light:hover{
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

/*.table-striped > tbody > tr:nth-of-type(2n+1) > * {
  --bs-table-accent-bg: var(--table-accent-color) !important;
  --bs-table-striped-bg:var(--table-accent-color) !important;
  color: inherit;
}

thead{
  background-color: var(--primary-color);
  color: #fff;
  height: 56px;
}*/

.text-200,.text-100 {
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
  overflow: hidden; /* Masque le contenu débordant du conteneur */
  text-overflow: ellipsis; /* Affiche "..." à la fin du texte masqué */
}

.text-200 {
  width: 200px; /* Largeur de votre conteneur de texte */
}

.text-100 {
  width: 200px; /* Largeur de votre conteneur de texte */
}

